@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


:root{
    --green:#0d9979;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .5s cubic-bezier(.37,1.14,.26,1.24);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#fff;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    padding: 1rem 5rem;
    width: 100%;
}

header .logo{
    color:var(--green);
    font-size: 3rem;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li{
    margin:0 1rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color:#666;
}

header .navbar ul li a:hover{
    color:var(--green);
}

header .fa-bars{
    font-size: 3rem;
    color:#666;
    cursor: pointer;
    display: none;
}

#map{
    position: fixed;
    margin: 0;
    padding: 0;
    top: 200;
    left: 0px;
    height: 100%;
    width: 700px;
}

body {
    
    background-color: white;
}
#filtros{
    position: absolute;
    margin-top: 200px;
    right: 500px;  
    width: 300px;
    height: 400px;
}

#uploadImg {
    position: absolute;
    right: 50px;
    margin-top: 200px;
}

.filter-btn{
    position: absolute;
    right: 10px;
    border-top: 100px;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 50%;
    margin-right: 50%;
    background: linear-gradient(to right,#97d5e7,#69d372);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: #fff;
}

.submit-btn{
    padding: 10px 30px;
    cursor: pointer;
    margin: auto;
    background: linear-gradient(to right,#97d5e7,#69d372);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: #fff;
}

#caixaComentar {
    width: 350px;
    height: 100px;
}

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
  }


#formClassComen{
    margin: 10px;
    width: 320px;
    z-index:1;
}

.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    z-index:1;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index:1;
}

#starRating{
    padding: 10px;
}

#conteudoCritica{
    padding-left: 30px;
}

#comentarios {
    margin-top: 10px;
    border-style: solid;
    overflow-y: scroll;
    height: 150px;
    z-index:1;
}

.comentario {
    margin: 8px;
    border-bottom: solid;
    border-width: 0.2px;
    
}

  
  /* The Close Button */
 #botaoFechar {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index:5;
  }
  
#botaoFechar:hover,
#botaoFechar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.container {
    width: 100%;
}

.skills {
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}
  
#graficoClassi .horizontal{
    margin-bottom: 10px;
}

.classi5 {width: 90%; background-color: #228B22;}
.classi4 {width: 80%; background-color: #9ACD32;}
.classi3 {width: 65%; background-color: #FFA500;}
.classi2 {width: 60%; background-color: #f35f29;}
.classi1 {width: 15%; background-color: #FF0000;}

